#num1:hover{

	font-size:1.5em;
	background:black;
	color:white;
	text-align:center;

}
#num2:hover{

	font-size:1.5em;
	background:black;
	color:white;
	text-align:center;
            

}

#capa{

	font-size:1.5em;
	
}


